.box1{
    background-color: orange;
    width: 200px;
    height: 200px;
}
.box2{
    background-color: skyblue;
    width: 50%;
    height: 50%;
    /* overflow: hidden; */
    overflow: scroll;
}
.box3{
    background-color: tomato;
}